:root {
  font-family: var(--font-family-primary);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(var(--color-bg-main));
  color: rgb(var(--color-text-primary));
}

.title {
  color: rgb(var(--color-cyan));
  font-family: var(--font-family-ternary);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2px;
  word-spacing: 12px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__content {
  flex: 1;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}
